---
layout: default
---

<div class="home">

  <section class="category-list">
    <h1 class="page-heading">Posts</h1>
    {% for category in site.categories %}
    <section class="category">
      <h2>{{ category | first }}</h2>
      {% for posts in category %}
        {% for post in posts %}
        <article class="post">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
        </article>
        {% endfor %}
      {% endfor %}
    </section>
    {% endfor %}
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
