<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <i class="icon-female"></i>
            <span>{{ site.title }}</span>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">
              <i class="icon-mail"></i>
              <span>{{ site.email }}</span>
            </a>
          </li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="icon-github"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="icon-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="text">{{ site.description }} <a href="/about">Learn more about me</a></p>
        <p>or <a href="mailto:jdu.xian@gmail.com">get in touch</a></p>
      </div>
    </div>

  </div>

</footer>
