/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    border-top: 6px solid $grey-color-dark;
    font-family: $base-font-family;
    font-size: $small-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background: url("/images/bg.png");
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
        cursor: pointer;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $small-font-size;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $block-bg-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.content-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 7%;
    padding-left: 7%;
    width: 86%;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


.page-content {
    padding: 30px+$spacing-unit 0;
    margin: 0 auto;
    background: #fdfdfd;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    .logo {
        content: " ";
        position: absolute;
        width: $logo-size;
        height: $logo-size;
        top: 0;
        left: -$logo-size;
        background: url("../images/me.png") 100% 70% no-repeat;
        background-size: cover;
        border-radius: 100%;
        border: 3px solid $brand-color;
        box-sizing: border-box;
        border-top-right-radius: 0;
        &:hover {
            border-color: $meta-color;
        }
        @include media-query($tablet) {
            top: -52px;
            left: 0;
            border-top-right-radius: 100%;
        }
    }
}

.post-meta {
    color: $meta-color;
}

