/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  line-height: 1.7em;
  font-size: $small-font-size;
  color: $grey-color;
  width: 80%;
  margin: 0 auto;
  @include media-query($phone) {
    width: 92%;
  }
}

.contact-list {
  list-style: none;
  margin-left: 0;
  @include media-query($phone) {
    text-align: center;
    margin-bottom: 0;
  }
  i {
    color: #828282;
  }
  li {
    cursor: pointer;
    @include media-query($tablet) {
      width: 50%;
      float: left;
    }
    @include media-query($phone) {
      width: auto;
      float: none;
      display: inline-block;
      margin-right: 5px;
    }
    span {
      @include media-query($phone) {
        display: none;
        margin-right: 6px;
      }
    }
  }
}

.footer-col-wrapper {
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
}

.footer-col-left {
  width: 35%;
  @include media-query($tablet) {
    width: 100%;
  }
}

.footer-col-right {
  width: 65%;
  text-align: right;
  @include media-query($tablet) {
    width: 100%;
    text-align: center;
  }
}
