/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 140px;

  // Positioning context for the mobile navigation icon
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.site-title {
  text-align: center;
  font-family: 'Give You Glory', $base-font-family;
  font-size: -webkit-xxx-large;
  width: 100%;
  padding: 30px 0 0 0;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  line-height: 50px;

  .menu-icon {
    display: none;
  }

  .page-link {
    border: 1px solid #9BBFAB;
    padding: 8px 10px 6px;
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}
