.home {
    .category {
        h2 {
            border-bottom: 2px dotted #e5e5e5;
            color: $meta-color;
            font-family: 'Philosopher', $base-font-family;
        }
        .post {
            background: $block-bg-color;
            padding: 15px 20px 12px 20px;
            margin-bottom: 10px;
            .post-link {
                display: block;
                h3 {
                    margin-bottom: 0;
                }
                .post-meta {
                    float: right;
                    font-size: $small-font-size;
                    line-height: 2;
                }
                .post-link-title {
                    font-size: $base-font-size;
                }
            }
        }
        margin-bottom: $spacing-unit;
    }
    .rss-subscribe {
        text-align: right;
    }
}
