/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 2px dotted #e5e5e5;

  .post-title {
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;
    color: #94AD9F;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  border-bottom: 2px dotted #e5e5e5;
  h2 {
    font-size: 28px;

    @include media-query($on-laptop) {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 24px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 18px;

    @include media-query($on-laptop) {
      font-size: 16px;
    }
  }
}

.post-footer {
  margin-bottom: $spacing-unit;
  a {
    display: inline-block;
    color: $brand-color;
    &:hover {
      font-size: 20px;
      text-decoration: none;
    }
    &.next-post {
      float: right;
    }
    i {
      color: #828282;
      font-style: normal;
      &.icon-right-hand {
        float: right;
      }
    }
  }
}