---
layout: default
comments: True
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="post-footer">
    <a class="prev-post">
      <i class="icon-left-hand"></i>
      <span class="text">&nbsp;Prev Post</span>
    </a>
    <a class="next-post">
      <span class="text">Next Post&nbsp;</span>
      <i class="icon-right-hand"></i>
    </a>
  </footer>

  {% include comments.html %}

</div>
